{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class='mt-4' style="width:80%;">{{article.title}}</h2> 
    <h5 class='m-2'>
        By <a class="text-decoration-none" href="{% url "author_profile" article.author.id %}">
            {{article.author}}
        </a> on {{ article.pub_date }}
    </h5> 
    <img class="my-4" style="width:60%" src="{{article.img.url}}" alt=""> 
    <article style="width: 80%;">
        {{ article.content | safe }}
    </article> 
    {% comment %} <p style="width:80%;" >{{ article.content | safe }}</p>  {% endcomment %}

</div> 
{% endblock content %} 