<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators bg-dark w-25 m-auto">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for post in article_list %}  
        <div class="carousel-item {% if forloop.first %}active{% endif %}"> 
            <a href="{% url "article:single_article" post.id %}">
                <img 
                src="{{post.img.url}}" 
                class="d-block w-100 h-100" 
                alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-warning text-dark">{{post.title | truncatewords:5}}</h5> 
                <p class="bg-body text-dark">{{post.content | truncatewords:14}}</p> 
                </div> 
            </a>  
        </div> 
        {% endfor %} 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> 