{% extends "base.html" %}


{% block content %}

<div class="container">
    {% if query %} 
    <h4 class='my-4'> results for : {{query}} </h4> 
    {% else %}
    <h4 class='my-4'>Category : {{category}}</h4>  
    {% endif %} 
    <div class="">
        {% for article in articles %}
            <a class="row text-decoration-none text-dark my-4" href="{% url "article:single_article" article.id %}"> 
                <div class="image col-4"> 
                    <img style="width:85%" src="{{article.img.url}}" alt="">  
                </div>
                <div class="contents col-8">
                    <h5 class="text-dark">{{article.title}}</h5>
                    <h6 class="d-flex">
                        Published on {{ article.pub_date }}
                    </h6> 
                    <p>{{article.content | truncatewords:50 }}</p> 
                </div>
            </a>      
        {% endfor %}
    </div>
</div>



{% endblock content %}