{% extends "base.html" %}


{% block content %}

<div class="container">
    <h4 class='my-4'>Category : {{category}}</h4> 
    <div class="">
        {% for article in articles %}
            <a class="row text-decoration-none text-dark my-4" href="{% url "article:single_article" article.id %}"> 
                <div class="image col-4"> 
                    <img style="width:85%" src="{{article.img.url}}" alt="">  
                </div>
                <div class="contents col-8">
                    <h4>{{article.title}}</h4>
                    <h6>Published on {{ article.pub_date }}</h6> 
                    <p>{{article.content | truncatewords:100 }}</p> 
                </div>
            </a>      
        {% endfor %}
    </div>
</div>



{% endblock content %}