{% extends "base.html" %}

{% block content %}


<div class="container">
    <div id="slider" class="my-3 w-75 m-auto">
        <h2 class="mb-4">Recent articles</h2>
        <div class="">
            {% include "article/carousel.html" with article_list=recent_articles %}   
        </div>
    </div>
    <div id="all_articles" class="my-5">   
        <h2 class="my-4">All Articles</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for article in articles %}
            <div class="col">
                <div class="card shadow">
                    <img src="{{ article.img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ article.title | truncatewords:5 }}</h5>
                        <p style="height: 70px;" class="card-text">{{ article.content | truncatewords:15 }}</p>
                        <a href="{% url 'article:single_article' article.id %}" class="float-end text-decoration-none">Read more</a>
                    </div>
                </div>
            </div> 
        {% endfor %} 
    </div>
    </div>
    
</div>

 

{% endblock content %}