{% extends "base.html" %}

{% block content %}

<div style="height: 400px;" class="container d-flex justify-content-center p-5"> 
    <div class="login-form"> 
        <h2 class='my-3 fw-bold text-success'>Login!</h2>
        <form action="" method = "POST">
            {% csrf_token %}
            <div class= 'username'>
                <div class="form-label mx-2 fw-bold text-dark">
                    {{form.username.label}}
                </div>
                <div class="form-control border-0">
                    {{form.username}} 
                </div> 
            </div> 
            <div class= 'password'>
                <div class="form-label mx-2 fw-bold text-dark">
                    {{form.password.label}}
                </div>
                <div class="form-control border-0">
                    {{form.password}} 
                </div> 
            </div>
            <button class="btn btn-success m-2" type="submit">Login</button> 
        </form>

        <div class="d-flex">
            <h6 class='mt-2 fw-semibold mx-2'>Dont have an account?</h6>
            <a class='mx-3 fs-5' href="{% url "register" %}">Register</a> 
        </div>
        <a href="{% url "password_reset" %}">Forget password?</a>  
    </div>
    
</div>

{% endblock content %}