{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class='my-3 fw-bold'>Login!</h2>
    <form action="" method = "POST">
        {% csrf_token %}
        <div class= 'username'>
            <div class="form-label mx-2 fw-bold">
                {{form.username.label}}
            </div>
            <div class="form-control border-0">
                {{form.username}}
            </div> 
        </div>
        <div class= 'password'>
            <div class="form-label mx-2 fw-bold">
                {{form.password.label}}
            </div>
            <div class="form-control border-0">
                {{form.password}} 
            </div> 
        </div>
        <button class="btn btn-success m-2" type="submit">Login</button> 

    </form>

    <div class="d-flex">
        <h6 class='mt-2 fw-semibold mx-2'>Dont have an account?</h6>
        <a class='mx-3 fs-5' href="{% url "users:register" %}">Register</a> 
    </div> 

</div>

{% endblock content %}