{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="my-4">Register User</h2> 

    <form style="width:60%;" action="" method="POST">
        {% csrf_token %} 
        <div class="">
            {{ form }} 
        </div>
        <button class="btn btn-success my-3" type="submit">Submit</button>
    </form> 

    <div class="d-flex">
        <h5 class='mt-2 fw-semibold mx-2'>Alredy have an account?</h5>
        <a class='mx-3 fs-5'  href="{% url "login" %}">Login</a>
    </div>
    
</div> 

{% endblock content %}

