{% extends "base.html" %}

{% block content %} 

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">Welcome to ZenSnippets!</h2>
            <p class="lead">At ZenSnippets, we believe in the power of words to inspire, educate, and connect. Our platform is a vibrant community where writers from all walks of life come together to share their thoughts, experiences, and expertise.</p>
            <p class="lead">Whether you're a seasoned writer or just starting out, ZenSnippets offers a welcoming space for you to express yourself. By creating an account, you join a community of passionate individuals who are eager to engage with your ideas and stories.</p>
            <p class="lead">Our platform isn't just about publishing articles; it's about fostering meaningful connections. You'll find a diverse range of topics here, from personal reflections to in-depth analyses, ensuring there's something for everyone to enjoy and learn from.</p>
            <p class="lead">But ZenSnippets isn't just about sharing your own work—it's also about discovering the perspectives of others. Browse through our collection of articles written by fellow members, and be inspired by the wealth of knowledge and creativity within our community.</p>
            <p class="lead">So, whether you're here to share your voice or to discover new insights, we're thrilled to have you as part of the ZenSnippets family. Join us on this journey of exploration, connection, and self-expression.</p>
        </div>
    </div>
</div>
    


{% endblock content %}